* {
    font-family: 'Montserrat', sans-serif;
}

html, body{
    background-color: #2D2D2D !important; 
    height: 100%;
    
}


nav {
    background-color:#2D2D2D;
    justify-content: center;
    box-shadow: 0px 1px 20px black;
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    font-size: 20px; 
}

.nav-item {
    margin: 0px 35px;
}

.nav-link:hover, .nav-link:active {
    color: #ffa000 !important;
}

.nav-menu{
    text-align: center;
    justify-content: center !important;
    margin-top: 5px;

}

.nav-icons {
    position: absolute;
    top: 30px;
    right: 150px;
}

.nav-icons li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}



.logo-container {
    text-align: center;
    justify-content: center !important;
    position: relative;
}

.logo-container a {
    width: 250px;
}

.logo {
    width: 100%;
}

.cover-photo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.featured-container {
    width: 100%;
    margin: 0;
}

.featured-cards, .new-arrivals-cards {
    width: 100%;
    text-align: center;
    margin-left: 0px !important;
    justify-content: center;
}

.featured-title, .new-arrivals-title {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
}

.product-card {
    background-color: #fff;
    width: 350px !important;
    height: 380px;
    margin: 20px;
    box-shadow: 0px 0px 20px black;
}

.product-img {
    width: 300px;
    height: auto;
    margin: 40px 0px 30px 0px;
}

.product-brand {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.product-name {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
}

.product-price {
    font-weight: 700;
    font-size: 20;
}

footer {
    color: #fff;
    width: 100%;
    height: 300px;
    background-color: #444;
    margin-top: 150px;
    padding-top: 40px;
}

.socmed-links, .policy-links {
    display: flex;
    justify-content: center;
}

.socmed-links li{
    margin: 20px;
}

.socmed-link img {
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 10px;
}

.policy-links li {
    margin: 0px 20px;   
}

.policy-links a {
    color: #fff !important;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 70px;
    font-weight: 3  00;
}


/* Nike styles */
.brand-desc-container {
    background-color: #444;
    margin-top: 130px;
    /* height: 300px; */
    height: auto;
    text-align: center;
    color: #fff;
    padding: 80px 300px 50px 300px;
}

.brand-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;   
}

.brand-description {
    margin-bottom: 15px;
    font-size: 16px;
}

.products-container {
    height: auto;
    width: 80%;
    margin: 50px auto !important;
    
}

.filter, .filter h5{
    height: auto;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-right: 100px !important;
} 


.product-results {
    height: auto;
}   

.product-results-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 14px;
}

.results-title {
    width: 50%;
    margin-left: 0px !important;
}

.sort-products h5 {
    float: right;
}

.filter-options {
    margin-top: 40px;
}


.filter-option {
    background-color: #444;
    padding: 10px 30px;
    height: auto;
    margin-bottom: 15px;
}

.filter-option h6, .filter-option img {
    display: inline;
    
}

.filter-option h6 {
    font-size: 16px;
    font-weight: 600;
}

.filter-option img {
    float: right;
    margin-top: 2px;
}

.result-products {
    margin-top: 28px !important;
}


.product-cards {
    text-align: center;
    justify-content: center;
    
}

.product-card {
    margin-bottom: 40px;
}

.product-div {
    width: 100%;
    height: auto;
    margin-top: 200px;
    overflow: auto;
    padding: 0px 100px;

}

.product-gallery {
    border: 2px solid red;
    width: 55%;
    float: left;
    margin-right: 0px;
}

.product-desc {
    width: 45%;
    float: right;
    color: #fff;
    padding: 20px 250px 20px 80px;
}

.prod-brand, .size-title {
    font-weight: 400;
    font-size: 16;
    margin-bottom: 15px;
}

.prod-complete-name {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 40px;
}

.prod-price {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
}

.size-btn {
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 7px 5px;
    margin-bottom: 15px;
}

.size-btn:hover, .size-btn:active {
    border: 2px solid #ffa000;
}

.sizes {
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: space-between;
    margin-bottom: 30px;

}

.add-cart-btn, .fav-btn {
    width: 100%;
    color: #fff;
}

.add-cart-btn {
    background-color: #ffa000;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 8px 0px;
}

.fav-btn {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: 500;
}

.fav-btn:hover {
    border: 2px solid #ffa000;
}