* {
    font-family: 'Montserrat', sans-serif;
}

html, body{
    background-color: #2D2D2D !important; 
    height: 100%;
    
}


nav {
    background-color:#2D2D2D;
    justify-content: center;
    box-shadow: 0px 1px 20px black;
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    font-size: 20px; 
}

.nav-item {
    margin: 0px 35px;
}

.nav-link:hover, .nav-link:active {
    color: #ffa000 !important;
}

.nav-menu{
    text-align: center;
    justify-content: center !important;
    margin-top: 5px;

}

.nav-icons {
    position: absolute;
    top: 30px;
    right: 150px;
}

.nav-icons li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}



.logo-container {
    text-align: center;
    justify-content: center !important;
    position: relative;
}

.logo-container a {
    width: 250px;
}

.logo {
    width: 100%;
}

.cover-photo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.featured-container {
    width: 100%;
    margin: 0;
}

.featured-cards, .new-arrivals-cards {
    width: 100%;
    text-align: center;
    margin-left: 0px !important;
    justify-content: center;
}

.featured-title, .new-arrivals-title {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
}

.product-card {
    background-color: #fff;
    width: 350px !important;
    height: 380px;
    margin: 20px;
    box-shadow: 0px 0px 20px black;
}

.product-img {
    width: 300px;
    height: auto;
    margin: 40px 0px 30px 0px;
}

.product-brand {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.product-name {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
}

.product-price {
    font-weight: 700;
    font-size: 20;
}

footer {
    color: #fff;
    width: 100%;
    height: 300px;
    background-color: #444;
    margin-top: 150px;
    padding-top: 40px;
}

.socmed-links, .policy-links {
    display: flex;
    justify-content: center;
}

.socmed-links li{
    margin: 20px;
}

.socmed-link img {
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 10px;
}

.policy-links li {
    margin: 0px 20px;   
}

.policy-links a {
    color: #fff !important;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin-top: 70px;
    font-weight: 3  00;
}


/* Nike styles */
.brand-desc-container {
    background-color: #444;
    margin-top: 130px;
    /* height: 300px; */
    height: auto;
    text-align: center;
    color: #fff;
    padding: 80px 300px 50px 300px;
}

.brand-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;   
}

.brand-description {
    margin-bottom: 15px;
}



