<div class="container login-container">
        <div class="login-box">
            <a href="/"><img class="login-close" src="/icons/x.svg" alt="close"></a>
            <div class="login-content">
                <a href="/"><img class="login-logo" src="images/shoeboxlogo.png" alt="logo"></a>
                <form action="/user/login" method="post">
                    <input class="email-input" type="text" id="email_address_input" placeholder="Email Address" name="username">
                    <input class="pass-input" type="password" id="password_input" placeholder="Password" name="password">

                    <div class="remember-me">
                        <input type="checkbox" id="remember-me-checkbox">
                        <label for="remember-me-checkbox">Remember me</label>
                    </div>

                    {{!-- <button class="login-button" id="loginbtn">LOGIN</button> --}}
                    {{!-- <input class="login-button" id="loginbtn" type="submit" name="loginButton" value="LOGIN"></input> --}}
                </form>
                <form action="/user/createaccount" method="get">
                    <h5>New to ShoeBox?</h5>
                    {{!-- <button class="create-account-button" id="createaccountbtn">CREATE AN ACCOUNT</button> --}}
                    <input type="submit" class="create-account-button" id="createaccountbtn" name="createButton" value="CREATE AN ACCOUNT"></input>
                </form>

            </div>
        </div>

            
</div>

 <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>