<div class="container login-container">
        <div class="login-box">
            <a href="main.html"><img class="login-close" src="icons/x.svg" alt="close"></a>
            <div class="login-content">
                <a href="main.html"><img class="login-logo" src="images/shoeboxlogo.png" alt="logo"></a>
                <input class="email-input" type="text" id="email-address-input" placeholder="Email Address">
                <input class="pass-input" type="password" id="password-input" placeholder="Password">
                
                <div class="remember-me">
                    <input type="checkbox" id="remember-me-checkbox">
                    <label for="remember-me-checkbox">Remember me</label>
                </div>

            <button class="login-button" id="loginbtn">LOGIN</button>
            <h5>New to ShoeBox?</h5>
            <button class="create-account-button" id="createaccountbtn" onClick="/createaccount.html">CREATE AN ACCOUNT</button>

            </div>
        </div>