* {
    font-family: 'Montserrat', sans-serif;
}

html, body{
    background-color: #2D2D2D !important; 
    height: 100%;
    
}


nav {
    background-color:#2D2D2D;
    justify-content: center;
    box-shadow: 0px 1px 20px black;
    position: fixed !important;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
    font-size: 20px; 
}

.nav-item {
    margin: 0px 35px;
}

.nav-link:hover, .nav-link:active {
    color: #ffa000 !important;
}

.nav-menu{
    text-align: center;
    justify-content: center !important;
    margin-top: 5px;

}

.nav-icons {
    position: absolute;
    top: 30px;
    right: 150px;
    
}

.nav-icons li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 80%;
}

.nav-icons li:hover {
    opacity: 100%;
}

.logo-container {
    text-align: center;
    justify-content: center !important;
    position: relative;
}

.logo-container a {
    width: 250px;
}

.logo {
    width: 100%;
}

.cover-photo {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.featured-container {
    width: 100%;
    margin: 0;
}

.featured-cards, .new-arrivals-cards {
    width: 100%;
    text-align: center;
    margin-left: 0px !important;
    justify-content: center;
}

.featured-title, .new-arrivals-title {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
}

.product-card {
    background-color: #fff;
    width: 350px !important;
    height: 380px;
    margin: 20px;
    box-shadow: 0px 0px 20px black;
}

.product-img {
    width: 300px;
    height: auto;
    margin: 40px 0px 30px 0px;
}

.product-brand {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.product-name {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
}

.product-price {
    font-weight: 700;
    font-size: 20;
}

footer {
    color: #fff;
    width: 100%;
    height: 250px;
    background-color: #444;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.socmed-links, .policy-links {
    display: flex;
    justify-content: center;
}

.socmed-links li{
    margin: 20px;
}

.socmed-link img {
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px;
}

.socmed-link img:hover {
    border-radius: 100%;
    border: 2px solid #ffa000;
}

.policy-links li {
    margin: 0px 20px;   
}

.policy-links a {
    color: #fff !important;
    text-decoration: none;
}

.policy-links a:hover {
    color: #ffa000 !important;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 0px;
}


/* Nike styles */
.brand-desc-container {
    background-color: #444;
    margin-top: 130px;
    /* height: 300px; */
    height: auto;
    text-align: center;
    color: #fff;
    padding: 80px 300px 50px 300px;
}

.brand-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;   
}

.brand-description {
    margin-bottom: 15px;
    font-size: 16px;
}

.products-container {
    height: auto;
    width: 80%;
    margin: 50px auto !important;
    
}

.filter, .filter h5{
    height: auto;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-right: 100px !important;
} 


.product-results {
    height: auto;
}   

.product-results-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 14px;
}

.results-title {
    width: 50%;
    margin-left: 0px !important;
}

.sort-products h5 {
    float: right;
}

.filter-options {
    margin-top: 40px;
}


.filter-option {
    background-color: #444;
    padding: 10px 30px;
    height: auto;
    margin-bottom: 15px;
}

.filter-option h6, .filter-option img {
    display: inline;
    
}

.filter-option h6 {
    font-size: 16px;
    font-weight: 600;
}

.filter-option img {
    float: right;
    margin-top: 2px;
}

.result-products {
    margin-top: 28px !important;
}


.product-cards {
    text-align: center;
    justify-content: center;
    
}

.product-card {
    margin-bottom: 40px;
}

.product-div {
    width: 100%;
    height: auto;
    margin-top: 200px;
    overflow: auto;
    padding: 0px 100px;

}

.product-gallery {
    border: 2px solid red;
    width: 55%;
    float: left;
    margin-right: 0px;
}

.product-desc {
    width: 45%;
    float: right;
    color: #fff;
    padding: 20px 250px 20px 80px;
}

.prod-brand, .size-title {
    font-weight: 400;
    font-size: 16;
    margin-bottom: 15px;
}

.prod-complete-name {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 40px;
}

.prod-price {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
}

.size-btn {
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 7px 5px;
    margin-bottom: 15px;
}

.size-btn:hover, .size-btn:active {
    border: 2px solid #ffa000;
}

.sizes {
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: space-between;
    margin-bottom: 35px;

}

.add-cart-btn, .fav-btn {
    width: 100%;
    color: #fff;
}

.add-cart-btn {
    background-color: #ffa000;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 8px 0px;
}

.fav-btn {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: 500;
}

.fav-btn:hover {
    border: 2px solid #ffa000;
}


/* add to cart */

.shopping-cart-div {
    margin-top: 200px;
    height: auto;
}

.shopping-title-div {
    border-bottom: 5px solid #444;
    margin-bottom: 30px;
}

.shopping-title {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.shopping-cart-items {
    height: auto;
}

.shopping-cart-item {
    color: #fff;
    margin: 0 !important;
    border-bottom: 2px solid #444;
    padding: 20px 0px;
}

.shopping-cart-item-img {
    width: 20%;
    height: auto;
    margin-bottom: auto !important;
}

.shopping-cart-item-desc, .shopping-cart-item-quantity, .shopping-cart-item-price  {
    margin-bottom: auto !important;
    margin-top: 20px !important;
}

.shopping-cart-item-desc {
    padding-left: 40px !important;
}

.shopping-cart-item-remove{
    padding-right: 20px !important;
}

.shopping-cart-item-remove img {
    float: right;
}

.shipping-cart-fees-div h4 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.shipping-cart-total {
    font-size: 22px !important;
    font-weight: 600 !important;
}


.shipping-cart-fees-div {
    margin-top: 40px;
    border-bottom: 5px solid #444;
}

.shipping-cart-buttons {
    float: right;
    right: 0px;
    margin-top: 20px;
}

.continue-shopping-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 7px 12px;
}

.checkout-btn {
    background-color: #ffa000;
    color: #fff;
    border: 2px solid #ffa000;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 12px;
    margin-left: 10px;
}

/* login styles */

.login-container {
    padding: 150px 0px;
}

.signup-container {
    padding: 100px 0px;
}

.login-box, .signup-box {
    width: 40%;
    margin: auto;
}

.login-content, .signup-content {
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    padding: 70px 70px;
    background-color: #2D2D2D;
    box-shadow: 0px 1px 15px black;
}

.login-logo {
    width: 80%;
    margin-bottom: 30px;
    margin-left: 10%;
}

.login-close, .signup-close {
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

.email-input {
    background-color: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #858585;
    padding-left: 10px;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 16px;
}

.pass-input {
    background-color: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #858585;
    padding-left: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 16px;
}

.signup-name, .signup-email, .signup-pass-input{
    background-color: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 50px;
    color: #858585;
    padding-left: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
}

.remember-me label {
    color: #858585;
    font-weight: 400;
    font-size: 14px;

}

.remember-me {
    margin-bottom: 30px;
}

.login-button, .register-button {
    width: 100%;
    background-color: #444;
    border: none;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.register-button {
    margin-top: 20px;
}

.login-button:hover, .register-button:hover {
    background-color: #ffa000;
}

.create-account-button, .signup-login-button {
    width: 100%;
    background-color: transparent;
    border: 2px solid #444;
    height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.create-account-button:hover, .signup-login-button:hover, 
.create-account-button:active, .signup-login-button:active {
    border: 2px solid #ffa000;
}

.login-box h5, .signup-box h5 {
    color: #858585;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.login-box h5:before {
    content: "";
    border: 1px solid #444;
    position: absolute;
    width: 30%;
    top: 6px;
    left: 0px;
}

.login-box h5:after {
    content: "";
    border: 1px solid #444;
    width: 30%;
    position: absolute;
    top: 6px;
    right: 0px;
}

.signup-content h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}

.signup-box h5:before {
    content: "";
    border: 1px solid #444;
    position: absolute;
    width: 20%;
    top: 6px;
    left: 0px;
}

.signup-box h5:after {
    content: "";
    border: 1px solid #444;
    width: 20%;
    position: absolute;
    top: 6px;
    right: 0px;
}


/* Dashboard styles */

.top-nav {
    box-shadow: 0px 1px 10px #000;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #2d2d2d;
    padding: 10px 0px;
    
}

.top-nav-logo {
    width: 12%;
    margin-top: auto;
    margin-left: 20px;
}

.top-nav-logout {
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    opacity: 80%;
}

.top-nav-logout:hover {
    opacity: 100%;
}

.dashboard {
    width: 100%;
    height: 100%;
}

.side-nav {
    left: 0px;
    background-color: #2d2d2d;
    border-right: 2px solid #444;
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    padding-left: 0px;
}

.side-nav ul {
    padding: 0;
}

.side-nav a {
    text-decoration: none;
}


.dash-item {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    height: 70px;
    padding-top: 20px;
}

.dash-item h5{
    display: inline;
    margin-left: 15px;
}

.dash-item img {
    margin-bottom: 3px;
    margin-left: 30px;
}

.dash-item:hover {
    background-color: #444;
}
